@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color-primary: #f0eeee;
  --background-color-secondary: #fff;
  --background-color-tertiary: #000;

  --color-font-primary: #fff;
  --color-font-secondary: #000;
  --color-font-error: #ce1d1d;

  --border-color-primary: #000;
  --border-color-error: #ce1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

ul,
ol,
li {
  list-style: none;
}

main {
  padding: 0px 20px;
}

html,
body {
  background-color: var(--background-color-primary);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1120px;
}

.card {
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color-secondary);
}

.loading {
  margin-top: 10px;
  text-align: center;
}