header {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-secondary);
  padding: 12px 30px;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header nav .github-code-space a {
  display: flex;
  align-items: center;
  gap: 10px;
}

header nav .github-code-space img {
  height: 32px;
  width: 32px;
}

@media (max-width: 660px) {
  header nav {
    flex-direction: column;
    gap: 5px;
    padding: 8px 20px;
    align-items: center;
  }

  header {
    padding: 12px 8px;
  }
}

@media(max-width: 530px) {
  header nav a h1 {
    font-size: 20px;
  }
}